@{
    ViewData["Title"] = "Редактировать сообщение";
}

<h1>Редактировать сообщение</h1>
<form asp-action="Edit" method="post">
    <input type="text" name="message" placeholder="Введите сообщение" />
    <button type="submit">Отправить</button>
</form>
